<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Smart Crop Selector{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/subpage.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Cute+Font&family=Inria+Sans&display=swap"
        rel="stylesheet">

</head>

<body>
    {% include 'navbar.html' %}

    <div class="body-section">
        {% block content %} {% endblock %}
    </div>

    {% include 'footer.html' %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
